body{
    background: url('/static/img/pi_background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.jumbotron {
   background: rgba(255, 255, 255, 0);
}