<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/style.css')}}">
    <meta charset="UTF-8">
    <title>Word Cloud Add</title>
</head>

<body>

<br>
<form method="POST" class="col-sm-offset-8 col-sm-4 text-center">
        <input class="btn btn-primary" type="submit" value="Logout" name="submit_type">
        <input class="btn btn-primary" type="submit" value="View" name="submit_type">
</form>
<br>

<div class="jumbotron vertical-center">
    <form method="POST" class="form-horizontal" id="addform">
        <div class ="form-group">
            <label for="title" class="col-sm-5 control-label"><b>Title:</b></label>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Enter Title" name="title" id="title" required>
            </div>
        </div>

        <div class ="form-group">
            <label for="text" class="col-sm-5 control-label"><b>Text:</b></label>
            <div class="col-sm-3">
                <textarea type="text" class="form-control" placeholder="Enter Text" name="text" id="text" rows="10"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="wikipedia_search" class="col-sm-5 control-label"><b>Wikipedia Search:</b></label>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Enter Wikipedia Search Term" name="wiki_search" id="wikipedia_search">
            </div>
        </div>

        <div class ="form-group">
            <label for="color" class ="col-sm-5 control-label"><b>Color:</b></label>
            <div class="col-sm-3">
                <select id="color" name="color" form="addform" class="selectpicker">
                    <option value="red">red</option>
                    <option value="blue">blue</option>
                    <option value="green">green</option>
                    <option value="orange">orange</option>
                    <option value="yellow">yellow</option>
                    <option value="purple">purple</option>
                    <option value="pink">pink</option>
                    <option value="black">black</option>
                    <option value="white">white</option>
            </select>
            </div>

        </div>

        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-2">
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="Add Document" name="submit_type">
                </div>
            </div>
        </div>
</form>

{%if error %}
    <p class="text-center"><strong>Error: {{ error }} </strong>
{%endif%}
</div>
</body>
</html>