<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"  crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/style.css')}}">
    <meta charset="UTF-8">
    <title>Word Cloud Login</title>
</head>

<body>
<div class="jumbotron vertical-center">
    <form method="POST" class="form-horizontal">
    <div class ="form-group">
        <label for="username" class="col-sm-5 control-label"><b>Username:</b></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" placeholder="Enter Username" name="username" id="username" required>
        </div>
    </div>

    <div class ="form-group">
         <label for="password" class="col-sm-5 control-label"><b>Password:</b></label>
        <div class="col-sm-3">
            <input type="text"  class="form-control" placeholder="Enter Password" name="password"  id="password"required>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-2">
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Login" name="submit_type">
                <input class="btn btn-primary" type="submit" value="Register" name="submit_type">
            </div>
        </div>
    </div>
</form>
{%if error %}
    <p class="text-center"><strong>Error: {{ error }} </strong>
{%endif%}
</div>
</body>
</html>