<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"  crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/style.css')}}">    <meta charset="UTF-8">
    <title>Word Cloud View</title>
</head>

<body>

<br>
<form method="POST" class="col-sm-offset-8 col-sm-4 text-center">
        <input class="btn btn-primary" type="submit" value="Logout" name="submit_type">
        <input class="btn btn-primary" type="submit" value="New Document" name="submit_type">
</form>
<br>
<br>

<div class="col-md-12">
    <table class="table table-hover">
        <tr>
            <th><b>Title</b></th>
            <th><b>Image</b></th>
            <th><b>Text</b></th>
            <th><b>Color</b></th>
            <th></th>
        </tr>

        {% for doc in documents %}
        <tr>
            <td>{{doc["title"]}}</td>
            <td><a href="{{doc['image']}}">Link</a></td>
            <td>{{doc["text"]}}</td>
            <td>{{doc["color"]}}</td>
            <td><a href="{{url_for('delete', doc_id=doc['_id'])}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>

</html>